html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0, rgb(136, 0, 0), blue);
    background-size: 100%;
    display: block;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#buttons {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

.btn {
    background: rgba(136, 0, 0, 0.7);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    min-width: 30px;
}

.btn:hover{
    background: rgba(136, 0, 0, 1)
}

header {
    color: white;
    text-align: center;
}
header h1 {
    margin: 0;
}

#content {
    /* height: 100vh; */
    /* width: 100vw; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    margin: 0;
    padding: 0;
}

#score {
    text-align: center;
    color: white;
}

#getScore {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
}

#touchpad {
    display: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 80vw/2);
    margin: 0;
    padding: 0;
    border: none;
    width: 80vw;
    height: calc(80vw*5/8);
    background: blue;
    opacity: 0.6;
    text-align: center;
    color: white;
    border-radius: 1rem;
}

@media screen and (max-width: 1000px) {
    #touchpad {
        display: block;

    }
}